@import "./Vars.scss";
@import "./Media.scss";

body {
    margin: 0;
    font-family: $font-title;
    background: $main-color;
  }

.app {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
  }