@import url(https://fonts.googleapis.com/css?family=Muli&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap);

$font-title: 'Roboto', 'sans-serif';
$theme-font: 'Multi', 'sans-serif';
$main-color: white;