.details-container {
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
}

.details-container h1 {
  color: #1b6ca8;
}

.details-container li {
  margin: 10px;
}

.back{
  width: 80px;
  height: 20px;
  background-color: #1b6ca8;
  border: none;
  color: white;
}

ul {
  list-style: none;
  padding: 0; 
  margin-left: 10px; 
  }
  
  li::before { 
  content: "\2022"; 
  padding-right: 8px;
  color: #1b6ca8; 
  }